<div class="container">
  <table>
    <tr>
      <td>user:</td>
      <td><%= @user.username %></td>
    </tr>

    <tr>
      <td>created:</td>
      <td><%= @user.created_at %></td>
    </tr>

    <tr>
      <td>karma:</td>
      <td><%= @user.karma %></td>
    </tr>

    <tr>
      <td>avg:</td>
      <td><%= @user.average %></td>
    </tr>

    <tr>
      <td>about:</td>
      <td><%= @user.about %></td>
    </tr>

    <tr>
      <td></td>
      <td><a href='/profile/<%=@user.id%>/post'>Submissions</a></td>
    </tr>

     <tr>
      <td></td>
      <td><a href='/profile/<%=@user.id%>/comment'>Comments</a></td>
    </tr>

  </table>
</div>